{% extends 'mailings/base.html' %}
{% load blog_tag %}
{% block title %} Система рассылки сообщений {% endblock %}

{% block content %}
<h1><em>Главная страница с рассылками </em></h1>
<div class="row">
    <a class="col-4 mt-3 mb-3 btn btn-primary"
       href="{% url 'mailings:mailing_create' %}">Добавить рассылку</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th><h4>Всего рассылок</h4></th>
        <th><h4>Активных рассылок</h4></th>
        <th><h4>Уникальных клиентов</h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>{{ mailings_count }}</h4></td>
        <td><h4>{{ active_mailings_count }}</h4></td>
        <td><h4>{{ clients_count }}</h4></td>
    </tr>
    </tbody>
</table>

{% for post in blog_list %}

<div class="col">
    <div class="card h-100">
        <img src="#" class="card-img-top" alt="{{ post_image }}">
        <div class="card-body">
            <h5 class="card-title">{{ post.title|title }}</h5>
            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
            <p>Добавлен: {{ post.date_published }}<br>
            <img src="{{ post.preview|my_media }}" alt="{{ post.title }}"
                 class="img-fluid" width="300px" height="200px">
            </p>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}