{% extends 'mailings/base.html' %}

{% block title %} Система рассылки сообщений {% endblock %}

{% block content %}
    <h1><em>Главная страница с рассылками </em></h1>
    <div class="row">
                <a class="col-4 mt-3 mb-3 btn btn-primary"
                   href="{% url 'mailings:mailing_create' %}">Добавить рассылку</a>
            </div>
        <!--  {% if user.is_authenticated %}  -->

        <!--  {% endif %}  -->
    <div class="row">
        {% for product in products %}
            <!-- {% include 'catalog/includes/inc_product_card.html' %} -->
        {% endfor %}
    </div>
{% endblock %}