{% extends 'mailings/base.html' %}

{% block content %}
<form class="mt-3" method="post" enctype="multipart/form-data">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Удаление письма
            </div>
            <div class="card-body">
                {% csrf_token %}
                <p>Действительно хотите удалить сообщение "{{ object }}"?</p>
                <button type="submit" class="p-2 btn btn-danger">Удалить</button>
                <a href="{% url 'mailings:message_list' %}" class="p-2 btn btn-primary">Отмена</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}