{% extends 'mailings/base.html' %}
{% block title %} Подробности поста {% endblock %}
{% block content %}
<h4>{{ object.title }}</h4>
<img src="/media/{{ object.preview }}" alt="{{ object.title }}"
     class="img-fluid" width="300px" height="200px">
<br><p>{{ object.content }}</p><br>
<p>Добавлен: {{ object.date_published }}</p>
<div class="py-4">
    <p>Просмотры: {{ object.views_count }}</p>
    <a  class="btn btn-success"
        href="{% url 'blog:blog_view' %}"> К списку статей </a>
</div>
{% endblock %}